body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  margin: 20px;
  padding: 20px;
}

h1,
h2 {
  text-align: center;
  font-family: "Playfair Display", Georgia, serif;
}

h1 {
  font-size: 42px;
}

.homepage {
  background-color: rgb(205,66,11,0.15);
}

.homepage p {
  text-align: justify;
    font-size: 18px;
  line-height: 24px;
  padding: 20px 0px;
  color: black;
}

ul {
  margin: 20px 20px;
}

li {
  margin: 0;
  font-size: 16px;
  line-height: 19px;
}

.gallery {
  display: flex;
  justify-content: space-around;
}

.gallery img {
  display: block;
  border: 1px solid #dadde1;
  border-radius: 0px 25px;
}

.nav {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.nav a {
  display: block;
  margin: 15px;
  padding: 15px;
  background-color: chocolate;
  border-radius: 5px;
  color: beige;
  text-decoration: none;
}

.contact {
  text-align: center;
}
